<html>
<head>
  <title>Pitchary: Turn words into compelling presentations.</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>

  <style>

</style>
</head>

<body class="black-background white-font">
  <div class="container">
    <img class="pure-img absolute bubble-size" src="{{ url_for('static', filename='images/blue_circle.png') }}">

    <div class="header absolute">
      <div class="header-content text-align-center ">
        <img class="img-size" src="{{ url_for('static', filename='images/icon.png') }}">
          <h1>Pitchary</h1>
          <h2>Turn words into compelling presentations.</h2>
      </div>
      <div class="form-wrapper flex-and-center">

        <div class="form-content text-align-center ">

          <form method="post" enctype="multipart/form-data" class="pure-form pure-form-stacked">
              <fieldset>
                  <div class="pure-control-group">
                    <label for="logo">Logo</label>
                    <div class="flex-and-center ">
                      <input id="logo" name="logo" type="file" class="width-100"></input>
                    </div>
                  </div>

                  <div class="pure-control-group">
                    <label for="name" class="margin-top-10">Company Name</label>
                    <input id="name" name="name" type="text" required="true" class="width-100"
                           placeholder="MyCompany"></input>
                  </div>

                  <div class="pure-control-group">
                    <label for="vision">Company Vision</label>
                    <textarea id="vision" name="vision" required="true" class="width-100" rows="3"
                              placeholder="To book rooms with locals, rather than hotels."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="problem">The Problem</label>
                    <textarea id="problem" name="problem" required="true" class="width-100" rows="3"
                              placeholder="Price is an important concern for customers booking travel online. Hotels leave you disconnected from the city and its culture. No easy way exists to book a room with a local or become a host."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="solution">The Solution</label>
                    <textarea id="solution" name="solution" required="true" class="width-100" rows="3"
                              placeholder="A web platform where users can rent out their space to host travelers to: save money, make money, and share culture."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="advantage">Competitive Advantages</label>
                    <textarea id="advantage" name="advantage"  class="width-100" rows="3"
                              placeholder="We are the 1st solution in the market. Hosts make more money. Users can browse host profiles."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="market">The Market</label>
                    <textarea id="market" name="market"  class="width-100" rows="3"
                              placeholder="There are over 2 billion trips booked worldwide. Of those, 560M are budget trips and online. Capturing 15% of the market would be 84M trips."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="team">The Team</label>
                    <textarea id="team" name="team"  class="width-100" rows="3"
                              placeholder="Joe Gebbia, User Interface & PR. Brian Chesky, Business Development & Brand. Nathan Blecharcyk, Developer."></textarea>
                  </div>

                  <div class="pure-control-group">
                    <label for="tone">Tone of Voice</label>
                    <div class="flex-and-center">
                      <select id="tone" name="tone">
                        <option>Serious</option>
                        <option>Convincing</option>
                        <option>Witty</option>
                        <option>Funny</option>
                      </select>
                    </div>
                  </div>

                  <div class="pure-control-group">
                    <label for="format">Output Format</label>
                    <div class="flex-and-center">
                      <select id="format" name="format">
                        <option value="pdf" selected>PDF</option>
                        <option value="pptx">PowerPoint</option>
                      </select>
                    </div>
                  </div>

                  <div class="pure-control-group flex-and-center">
                    <button type="submit" class="pure-button pure-button-primary blue margin-top-10">Abracadabra</button>
                  </div>
              </form>
            </div>
          </div>

          </div>

      </div>

</body>
</html>

