<html>
<head>
  <title>Pitchary: Create Inspiring Pitch Decks</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
        crossorigin="anonymous">
</head>
<body>
<h1>Pitchary: Create Inspiring Pitch Decks</h1>
<form method="post" class="pure-form pure-form-stacked">
  <label for="logo">Logo:</label>
  <input name="logo" type="file"></input>
  <label for="name">Company name</label>
  <input name="name" type="text" placeholder="MyCompany"></input>
  <label for="mission">Company mission</label>
  <textarea name="mission" rows="3"></textarea>
  <label for="description">Company description</label>
  <textarea name="description" rows="3"></textarea>
  <label for="features">Key benefits / features</label>
  <textarea name="features" rows="3"></textarea>
  <button type="submit" class="pure-button pure-button-primary">Abracadabra</button>
</form>
</body>
</html>
